.settings-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
	flex-direction: column;
	gap: 20px;
}

.settings-title {
	height: 100px;
	font-size: 2.5rem;
	font-weight: 200;
  opacity: 0.5;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.settings-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.settings-option {
	padding: 0 25px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	font-weight: 200;
	font-size: 1.25rem;
	letter-spacing: 0.05rem;
}

.toggle-box {
  border: 1px solid rgba(255, 255, 255, 0.3);
	width: 36px;
	height: 60px;
	border-radius: 50px;
	overflow: hidden;
	position: relative;
}

.toggle-thumb {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 26px;
	height: 26px;
	border-radius: 500px;
	border: 1px solid #fff;
	opacity: 0.3;
	transition: 100ms linear;
}

.toggle-thumb.active {
	top: 27px;
	opacity: 1;
}